body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}
h2 {
  color: red;
  margin-top: -35px;
}

#inline {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(248, 248, 248);
}

#left {
  width: 20%;
  margin-left: -7px;
  margin-top: 35px;
}

#middle {
  width: 70%;
  margin-top: 65px;
  margin-left: 1px;
}

#right {
  width: 30%;
  margin-right: 0px;
  margin-top: 20px;
  position: relative;
  margin-left: 0px;
}

.menu {
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 5px;
  background-color: #333;
  margin-top: 2px;
  margin-left: 30px;
  transition: 0.4s;
}

#nav {
  height: 72px;
}
.navbar-default {
  background-color: #fff;
}
.navbar-default {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.myCanv {
  padding: 0px;
  margin: 100px;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  height: 95%;
  margin-top: 10%;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
